{% extends 'pay_end/base_pay.html' %}
{% block title %}Add School{% endblock title %}
{% block content %}
    <h1 class="mt-4">Add School</h1>
    {% if submitted %}
        <p>You have added another school!</p>
        <a href="{% url 'add-school' %}" class="btn btn-primary">Add another school</a>
    {% else %}
        <form action="" method="post" class="mt-3">
            {% csrf_token %}
            {% include 'pay_end/_school_fields.html' %}
            <input type="submit" value="Add school" class="btn btn-secondary mb-4">
        </form>
    {% endif %}
{% endblock %}
