{% extends 'pay_end/base_pay.html' %}
{% block content %}
    <center>
        <h1>{{sched}} Details</h1>
        <ul>{{ sched.id }}</ul>
        <ul>Name: {{ sched.sched_name }}</ul>
        <ul>Schools: {{ sched.lst_of_school }}</ul>
        <hr>

        <h2>The Schedule</h2>
        <table border="1" cellpadding="6" cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2">Activity Group</th>
                    {% for day in schedule_days %}
                        <th colspan="{{ day.slots|length }}">{{ day.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day in schedule_days %}
                        {% for slot in day.slots %}
                            <th>{{ slot.label }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in schedule_rows %}
                    <tr>
                        <th>{{ row.ag }}</th>
                        {% for value in row.cells %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
{% endblock%}
